.auth-form__button {
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    color: #000;
    font-size: 18px;
    line-height: 22px;
    font-weight: 400;
    background: #fff;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 14px;
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    margin-top: 75px;
}

.auth-form__button:hover {
    opacity: 0.85;
}
