@import url('./__button/auth-form__button.css');
@import url('./__form/auth-form__form.css');
@import url('./__link/auth-form__link.css');
@import url('./__text/auth-form__text.css');
@import url('./__textfield/auth-form__textfield.css');
@import url('./__title/auth-form__title.css');
@import url('./__wrapper/auth-form__wrapper.css');

.auth-form {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #fff;
    height: 60vh;
}
