@import url('./__auth-link/header__auth-link.css');
@import url('./__logout/header__logout.css');
@import url('./__user/header__user.css');
@import url('./__wrapper/header__wrapper.css');

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid rgba(84, 84, 84, 0.7);
    margin-bottom: 40px;
    min-height: 120px;
}

@media screen and (max-width: 636px) {
    .header {
        margin-bottom: 42px;
        min-height: 84px;
    }
}
